@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul li{
  list-style: none;
}

body{
  display: flex;
  align-items:center ;
  justify-content: center;
  min-height: 100vh;
  background-color: #17a2b8;
}

#wrapper{
  background-color: #fff;
  width: 760px;
  padding: 35px;
  border-radius: 10px;
}

#wrapper .input-field{
  z-index: -999;
  opacity: 0;
  position: absolute;
}

#wrapper #content-box{
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#content-box .typing-text {
  max-height: 255px;
  overflow-y: auto;
}

.typing-text::-webkit-scrollbar{
  width: 0;
}

.typing-text p{
  font-size: 21px;
  text-align: justify;
  letter-spacing: 1px;
  word-break: break-all;
}

.typing-text p span.correct{
  color: #56964f;
}
.typing-text p span.incorrect{
  color: #cb3439;
  background: #ffc0cb;
  outline: 1px solid #fff;
  border-radius: 4px;
}

.typing-text p span{
  position: relative;
}

.typing-text p span.active{
  color: #17a2b8;
}

.typing-text p span.active::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  opacity: 0;
  width: 100%;
  background: #17a2b8;
  animation:blink 1s ease-in-out infinite;
}

@keyframes blink{
  50%{
    opacity: 1;
  }
}

#content-box .content{
  display: flex;
  margin-top: 17px;
  padding:12px 0 ;
  align-items: center;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}

.content .result-details{
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li{
  height: 22px;
  display: flex;
  align-items: center;

}
.result-details li:not(:first-child){
  padding-left: 22px;
  border-left: 1px solid #ccc;
}
.result-details li p{
  font-size: 19px;
}

.result-details li span{
  display: block;
  font-size: 20px;
  margin-left: 10px;
}

.result-details li:not(:first-child) span{
  font-weight: 500;
}

.result-details li b{
  font-weight: 500;

}


button{
  border: none;
  outline: none;
  width: 105px;
  padding: 8px 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  background-color: #17a2b8;
  transition: transform 0.3s ease;
}

button:active{
  transform: scale(0.97);
}